<div class="login-outer-container">
  <div class="login-inner-container">
    <div class="quote-container">
      <p class="quote">
        “The beautiful thing about learning is that no one can take it away from
        you.”
      </p>
      <p class="author">― B.B. King</p>
    </div>
    <div class="divider"></div>
    <form #form="ngForm" [formGroup]="loginForm" class="login-form">
      <div class="login-header">Chat-Web</div>
      <input
        type="text"
        placeholder="User Name"
        formControlName="userName"
        class="user-name"
        required
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="password"
        required
      />
      <button
        type="submit"
        [disabled]="!loginForm.valid"
        (click)="login()"
        class="login-button"
      >
        <span>LogIn</span>
      </button>
    </form>
  </div>
</div>
