$back-groud-color-strong: #2e3440;
$back-groud-color-mid-strong: #3b4252;
$back-groud-color-mid-light: #434c5e;
$back-groud-color-light: #4c566a;
$back-groud-color-lighter: #b1b7c3;

$text-color-4: #000000;
$text-color-3: #d8dee9;
$text-color-2: #e5e9f0;
$text-color-1: #eceff4;
$text-color-0: #ffffff;
