<div class="chat-window-container">
  <div class="chat-messages">
    <div class="messages-list">
      <div class="message-item left">
        <img
          src="assets/icons/send-button.svg"
          alt="Send Button"
          class="user-icon"
        />
        <div class="message-item-inner">
          <div class="message-item-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quod voluptates voluptatem
            exercitationem quos voluptate quas quibusdam, quia, quod voluptates
            voluptatem exercitationem quos voluptate quas
          </div>
          <div class="message-item-header-time">10:00 AM</div>
        </div>
      </div>
      <div class="message-item" [ngClass]="{ right: !isRight, left: isRight }">
        <img
          *ngIf="isRight"
          src="assets/icons/send-button.svg"
          alt="Send Button"
          class="user-icon"
        />
        <div class="message-item-inner">
          <div class="message-item-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quod voluptates voluptatem
            exercitationem quos voluptate quas quibusdam, quia, quod voluptates
            voluptatem exercitationem quos voluptate quas
          </div>
          <div class="message-item-header-time">10:00 AM</div>
        </div>
        <img
          *ngIf="!isRight"
          src="assets/icons/send-button.svg"
          alt="Send Button"
          class="user-icon"
        />
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" placeholder="Type your message..." />
    <img src="assets/icons/send-button.svg" alt="Send Button" />
  </div>
</div>
