<div class="chat-window-container">
  <div class="chat-messages">
    <div class="messages-list" *ngFor="let data of messages">
      <div
        class="message-item"
        [ngClass]="{ right: !data.isRight, left: data.isRight }"
      >
        <img
          *ngIf="data.isRight"
          src="assets/icons/user-icon.svg"
          alt="Send Button"
          class="user-icon"
        />
        <div class="message-item-inner">
          <div class="message-item-content">
            {{ data.message }}
          </div>
          <div class="message-item-header-time">{{ data.timeStamp }}</div>
        </div>
        <img
          *ngIf="!data.isRight"
          src="assets/icons/user-icon.svg"
          alt="{{ data.userName }}"
          class="user-icon"
        />
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" placeholder="Type your message..." #chatTab />
    <img
      src="assets/icons/send-button.svg"
      (click)="sendMessage(chatTab.value)"
      alt="Send Button"
    />
  </div>
</div>
